@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400, 500, 700, 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A;
  }

/* 공통영역 시작 */

*{ font-size: 16px; margin: 0; padding: 0; box-sizing: border-box;  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;}

a{ text-decoration: none; color:#000;}

ul{ list-style: none; }

/* utill영역 */
.utill{
    width: 1400px;
    height: 50px;
    margin: 0 auto;
    padding: 0 50px;
    color: #000;
    mix-blend-mode: difference;
}
.utill .logo{
    display: inline-block;
    line-height: 50px;
}
.logo img{
    margin-top: 15px;
}
.kpu-link{
    float: right;
    line-height: 50px;
    font-weight: bold;
    font-family: 'Montserrat';
}


/* banner영역 */
.banner{
    width:100%;
    min-width: 1400px;
    height:calc(100vh - 50px);
    overflow: hidden;
    background-color: #fff;

    position: relative;
    z-index: -9999;
}
.title-wrap{
    width:100%;
    height:calc(100vh - 50px);
}
.main-title{
    width: 223px;
    height: 102px;
    z-index: 10;
    background-image: url(title.png);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.fix-width{
    width: 1400px;
    height: 2600px;
    /* 높이수정 */
    margin: -100vh auto 0 auto;
    /* overflow: hidden; */
    position: relative;
    z-index: 2;
    
}

/* gnb 공통영역 시작 */
    /* sticky를 위한 복붙 영역 시작 */
/* .gnb-wrap{
    width: 220px;
    display: inline-block;
    position: sticky;
} */
.gnbCont{
    width: 220px;
    height: 100vh;
    display: inline-block;
    position:sticky;
    top: 50px;
}
.gnb-cont{
    position:relative;
   
}

.gnb{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right:0;
    /* bottom: calc( -100vh + 110px); */
    top: calc(100vh - 270px);
}
    /* sticky를 위한 복붙 영역 끝 */

.gnb a{ 
    margin-bottom: 10px;
    line-height:21px;
    font-family: 'Montserrat';
}
.gnb a:hover{
    font-weight: bold;
}
.gnb .intro{
    font-weight: bold;
}
/* gnb 공통영역 끝 */
/* 공통영역 끝 */  


/* 컨테이너 시작 */
.container{
    width: 1180px;
    /* height: calc(100% - 50px); */
    /* top: 100vh; */
    left: 220px;
    /* top: calc(100vh - 50px); */
    overflow: hidden;
    position: relative;
    display: inline-block;
 
}

/* 인트로 소개글 시작 */
.conA.intro{
    width:100%;
    z-index:99;
}

.intro .text-area{
    width:100%;
    border-bottom: 1px solid #c8c8c8;
}

.intro .text{
    width: 600px;
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;    
}
.en{
    font-family: 'Montserrat';
}

/* 음성소개 */
.conB.recoded-menual{
    width:100%;
    /* background-color: #fff; */
    position: relative;
}
.recoded-menual .text-area{
    width:100%;
    border-bottom: 1px solid #c8c8c8;
}
.recoded-menual .text {
    display:inline-block;
    width: 850px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;  
    font-family: 'Montserrat';
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.recoded-btn-example{
    display: inline-block;
    width:150px;
    height:150px;
    border-radius: 50% 50%;
    background-color: #000;
    position: absolute;
    right: 50px;
    top: 25%;
        
    animation: playingAudioBlur 1.8s infinite;  
}

@keyframes playingAudioBlur{
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
.recoded-btn-example i {
    width: 100%;
    text-align: center;
    line-height: 150px;
    color: #fff;
    font-size: 60px;
}

/* 인포 시작 */
.conC.information{
    width:100%;
    background-color: #fff;
}
.info-wrap{
    padding: 100px 50px 150px 50px;
}
.info-wrap h3{
    font-family: 'Montserrat';
}
.info-wrap h4{
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}
.info-title{
    margin-bottom: 26px;
}
.box{
    margin-bottom: 30px;
}
.groupcont{
    display:flex;
}
.names{
    padding-right: 10px;
}
.names li{
    text-align:justify;
}
.cont-column-1, .cont-column-2, .cont-column-3{
    display: inline-block;
} 
.column-group{
    display: flex;
    justify-content: space-around;
}

/* 인포 끝 */




/* 푸터영역 */
footer{
    min-width: 1440px;
    height: 245px;
    background-color: #000;
    display: block;

    position: relative;
    
}
.foot-wrap{
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.footA{
    display: inline-block;
    width: 50%;
    height: 100%;
    padding-left: 50px;
}
.footA .foot-logo{
    display: inline-block;
    line-height: 245px;
}

.footB {
    width: 50%;
    color:#fff;
    float: right;
    padding: 70px 50px 70px 0;
}
.footC{
    width: 100%;
}
.footC p{
    text-align: right;
    float: right;
    font-family: 'Montserrat';
    color:#fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}
.footD{
    width: 100%;
    float: right;
    margin-top: 15px;
}
.footD .foot-logo{
    text-align: right;
    font-family: 'Montserrat';
}

.footD .foot-txt{
    font-size: 12px;
    color:#4c4c4c;
    text-align: right;
}

/* 푸터 영역 끝 */


/* ------------------------------------------ */

/* 메인 배너 애니메이션 영역 시작 */
.banner-animation-wrap{
    z-index: 0;
    width: 100%;
    height:100vh ; 
    position: absolute;
    overflow: hidden;

    transition: all 4s ease-in-out;
}

.red-stick-wrap{
    width:100%;
    height:100vh;
    transform: skew(-11deg);
    top:-60vh;
    left: -40vw;
}
.red-stick{
    z-index: 1;
    width:100%;
    height:100vh;
    background-color:#FF4D25 ;
    border-radius: 0 50vh 50vh 0;
    transform: rotate(45deg);
    /* transform: skew(45deg); */
    position: absolute;
    top:-80vh;
    left: -40vw;
    mix-blend-mode: multiply;
    
    animation-name: topMoving;
    animation-duration:5s;
}

.purple-stick{
    z-index: 2;
    width:50vw;
    height:30vh;
    background-color:#A145FD;
    border-radius: 0 45vh 45vh 0;
    transform: rotate(45deg);
    position: absolute;
    top:-10vh;
    right: 18vw;
    mix-blend-mode: screen;

    animation-name: topMoving;
    animation-duration:9s;
    
}

@keyframes topMoving {
    0%{
        margin-top:-80%;
        /* transform: translateZ(50%); */
    }
    40%{
        margin-top:-3%;
    }
    100%{
        margin-top:0%;
        
    }
}

.green-stick{
    width:80vw;
    height:70vh;
    background-color:#1BA965;
    border-radius: 0 35vh 35vh 0;
    transform: rotate(-135deg);
    position: absolute;
    bottom: -50vh;
    left:10vw;
    mix-blend-mode: soft-light;

    animation-name: bottomMoving;
    animation-duration:10s;
}

.yellow-stick{
    width:36vw;
    height:24vh;
    background-color:#FFE61F;
    border-radius: 0 12vh 12vh 0;
    transform: rotate(-135deg);
    position: absolute;
    bottom: -2vh;
    right:8vw;
    mix-blend-mode: soft-light;

    animation-name: bottomMoving;
    animation-duration:14s;
}

.blue-stick{
    width:50vw;
    height:60vh;
    background-color:#256FFF;
    border-radius: 0 30vh 30vh 0;
    transform: rotate(-135deg);
    position: absolute;
    bottom: -25vh;
    right: -20vw;
    mix-blend-mode: hard-light;

    animation-name: bottomMoving;
    animation-duration:12s;
    
}

@keyframes bottomMoving {
    0%{
        margin-bottom:-90%;
        /* transform: translateZ(50%); */
    }

    45%{
        margin-bottom: -1%;
    }

    100%{
        margin-bottom:0%;
        
    }
}
/* 메인 배너 애니메이션 영역 끝 */


/* 컨테이너 애니메이션 시작 */
.animation-wrap{
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: -9999;
}

.ball-animation-position-helpper{
    position: relative;
    width: 100%;
}

/* wrap에서 운동 방향 설정 */
.red-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: left center;
    
    transform: rotate(70deg);

}

.red-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#FF4D25 ;
    position: absolute;
    top:100px;
    left: -30px;

    animation-name: redBallMoving;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

@keyframes redBallMoving{
    from{
        left: -30px;
    }
    to{
        left: 2200px;
    }
}


.blue-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: top right;
    position: absolute;
    top: 800px;
    left: -100px;
    transform: rotate(120deg);
}

.blue-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#4CABE9 ;

    animation-name: blueBallMoving;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    
    
}


@keyframes blueBallMoving{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 2200px;
    }
}


.green-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: bottom left;
    position: absolute;
    right: 10px;
    mix-blend-mode: hard-light;

    transform: rotate(70deg);

}

.green-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#1BA965;
    

    animation-name: greenBallMoving;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    
}


@keyframes greenBallMoving{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 2200px;
    }
}


.yellow-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: center center;
    position: absolute;
    right: 100px;
    top: 400px;
    mix-blend-mode: hard-light;

    transform: rotate(80deg);


}

.yellow-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#FFE61F;
    


    animation-name: yellowBallMoving;
    animation-duration: 140s;
    animation-iteration-count: infinite;
    
}


@keyframes yellowBallMoving{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 1800px;
    }
}

.purple-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: bottom bottom;
    position: absolute;
    right:-250px;
    bottom:-300px;
    
    mix-blend-mode: hard-light;

    transform: rotate(-100deg);


}

.purple-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#A145FD;
    


    animation-name: purpleBallMoving;
    animation-duration: 140s;
    animation-iteration-count: infinite;
    
}


@keyframes purpleBallMoving{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 1200px;
    }
}
/* 컨테이너 애니메이션 끝 */
