@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400, 500, 700, 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A;
  }

/* 공통영역 시작 */

*{ font-size: 16px; margin: 0; padding: 0; box-sizing: border-box;  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;}

a{ text-decoration: none; color:#000;}

ul{ list-style: none; }

.wrap{
    /* z-index: -1; */
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
}


header{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
/* utill영역 */


/* .util-wrap{
    z-index:9999;
} */

.utill{
    height: 50px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 60px;
    color: #000;
    mix-blend-mode: difference;
    
}
.utill .logo{
    display: flex;
    align-items: center;
}

.kpu-link{
    font-weight: bold;
    font-family: 'Montserrat';
}

/* .header-contA{
    display: flex;
} */



/* gnb 공통영역 시작 */
/* sticky를 위한 복붙 영역 시작 */
.gnbCont{
    position:sticky;
    top:100vh;

    z-index: 999;
    
}

.gnb-cont{
    width: 15vw;
    
    position: relative;
    display: inline-block;
    
}

.gnb{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right:0;
    bottom:111px;
    
}
/* sticky를 위한 복붙 영역 끝 */

.gnb a{ 
    margin-bottom: 10px;
    line-height:21px;
    font-family: 'Montserrat';
}
.gnb a:hover{
    font-weight: bold;
}

/* .darkmode-btn{
    margin-top:100px;
    width:3rem;
    height: 3rem;
    border-radius: 50% 50%;
    background-color: black;
} */

.logo{ 
    z-index: 9999;
}

/* gnb 공통영역 끝 */
.gnb .intro{
    font-weight: bold;
}









.title-img{
    z-index: 9999;
}







.title-wrap{
    width:100vw;
    height:calc(100vh - 50px); 
    display:flex;
    justify-content:center;
    align-items: center;
}

.main-title{
    width: 223px;
    height: 102px;
    z-index: 9999;
    background-image: url(title.png);

}

.main-title h1{
    font-size: 68px;
}


/* 공통영역 끝 */  



/* 메인 배너 애니메이션 영역 시작 */

.banner-animation-wrap{
    z-index:-100;
    width: 100vw;
    height:100vh ; 
    position: absolute;
    overflow: hidden;
    
    
    
    

    transition: all 4s ease-in-out;
}

.red-stick-wrap{
    width:100vw;
    height:100vh;
    transform: skew(-11deg);
    top:-60vh;
    left: -40vw;
}


.red-stick{
    z-index: 1;
    width:100vw;
    height:100vh;
    background-color:#FF4D25 ;
    border-radius: 0 50vh 50vh 0;
    transform: rotate(45deg);
    /* transform: skew(45deg); */
    position: absolute;
    top:-80vh;
    left: -40vw;
    mix-blend-mode: multiply;
    
    

    animation-name: topMoving;
    animation-duration:5s;
}


.purple-stick{
    z-index: 2;
    width:50vw;
    height:30vh;
    background-color:#A145FD;
    border-radius: 0 45vh 45vh 0;
    transform: rotate(45deg);
    position: absolute;
    top:-10vh;
    right: 18vw;
    mix-blend-mode: screen;

    animation-name: topMoving;
    animation-duration:9s;
    
}


@keyframes topMoving {
    0%{
        margin-top:-80%;
        /* transform: translateZ(50%); */
    }
    40%{
        margin-top:-3%;
    }
    100%{
        margin-top:0%;
        
    }
}


.green-stick{
    width:80vw;
    height:70vh;
    background-color:#1BA965;
    border-radius: 0 35vh 35vh 0;
    transform: rotate(-135deg);
    position: absolute;
    bottom: -50vh;
    left:10vw;
    mix-blend-mode: soft-light;

    animation-name: bottomMoving;
    animation-duration:10s;
}

.yellow-stick{
    width:36vw;
    height:24vh;
    background-color:#FFE61F;
    border-radius: 0 12vh 12vh 0;
    transform: rotate(-135deg);
    position: absolute;
    bottom: -2vh;
    right:8vw;
    mix-blend-mode: soft-light;

    animation-name: bottomMoving;
    animation-duration:14s;
}

.blue-stick{
    width:50vw;
    height:60vh;
    background-color:#256FFF;
    border-radius: 0 30vh 30vh 0;
    transform: rotate(-135deg);
    position: absolute;
    bottom: -25vh;
    right: -20vw;
    mix-blend-mode: hard-light;

    animation-name: bottomMoving;
    animation-duration:12s;
    
}


@keyframes bottomMoving {
    0%{
        margin-bottom:-90%;
        /* transform: translateZ(50%); */
    }

    45%{
        margin-bottom: -1%;
    }

    100%{
        margin-bottom:0%;
        
    }
}

/* 메인 배너 애니메이션 영역 끝 */

.container{
    position: relative;
    overflow: hidden;
}

/* 컨테이너 애니메이션 시작 */


.animation-wrap{
    width: 100vw;
    height: 150vh;
    position: absolute;
    z-index: -1;
}

.ball-animation-position-helpper{
    position: relative;
    width: 100vw;
    
}

/* wrap에서 운동 방향 설정 */
.red-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: left center;
    
    transform: rotate(70deg);

}

.red-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#FF4D25 ;
    position: absolute;
    top:100px;
    left: -30px;

    animation-name: redBallMoving;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

@keyframes redBallMoving{
    from{
        left: -30px;
    }
    to{
        left: 1200px;
    }
}


.blue-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: top right;
    position: absolute;
    top: 800px;

    transform: rotate(120deg);
}

.blue-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#4CABE9 ;

    animation-name: blueBallMoving;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    
    
}


@keyframes blueBallMoving{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 2200px;
    }
}


.green-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: bottom left;
    position: absolute;
    right: 10px;
    mix-blend-mode: hard-light;

    transform: rotate(390deg);

}

.green-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#1BA965;
    

    animation-name: greenBallMoving;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    
}


@keyframes greenBallMoving{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 2200px;
    }
}


.yellow-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: center center;
    position: absolute;
    right:-400px;
    top:180px;
    mix-blend-mode: hard-light;

    transform: rotate(95deg);


}

.yellow-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#FFE61F;
    


    animation-name: yellowBallMoving;
    animation-duration: 140s;
    animation-iteration-count: infinite;
    
}


@keyframes yellowBallMoving{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 1800px;
    }
}

.purple-ball-wrap{
    width: 900px;
    height: 152px;
    transform-origin: bottom bottom;
    position: absolute;
    right:-250px;
    bottom:-300px;
    
    mix-blend-mode: hard-light;

    transform: rotate(-100deg);


}

.purple-ball{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color:#A145FD;
    


    animation-name: purpleBallMoving;
    animation-duration: 140s;
    animation-iteration-count: infinite;
    
}


@keyframes purpleBallMoving{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 1200px;
    }
}


/* 컨테이너 애니메이션 끝 */

/* 인트로 소개글 시작 */

.conA.intro{
    width:100vw;
    height:100vh;
    z-index:99;
}

.text-area{
    width:calc(100% - 15vw);
    padding: 0 30px 0 10px;
    
    

    height: inherit;
    float:right;

    border-bottom: 1px solid #c8c8c8;
}

.conA .text-area .text{
    width:32vw;
    margin-left: 5vw;
    margin-top:20vh;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;    
}
.en{
    font-family: 'Montserrat';
}

.conB.recoded-menual{
    width:100vw;
    height:100vh;
    background-color: #fff;
}

.conB .text-area{
    display:flex;
    justify-content:center;
    align-items: center;
}


.menual{
    display:flex;
    justify-content: center;
    align-items: center;
}

.menual .text {
    width:36vw;
    margin-right: 8vw;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display:inline-block;
    font-family: 'Montserrat';
}

.recoded-btn-example{ 
    width:150px;
    height:150px;
    border-radius: 50% 50%;
    background-color: #000;
    position: relative;
    
    animation: playingAudioBlur 1.8s infinite;
    
}

@keyframes playingAudioBlur{
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}




.recoded-btn-example i {
    
    width: 100%;
    text-align: center;
    line-height: 150px;
    color: #fff;
    font-size: 60px;
}

/* 인트로 소개글 끝 */




/* 인포 시작 */
.conC.information{
    width:100vw;
    height:100vh;
    background-color: #fff;
}

.info-area{
    width:calc(100% - 15vw);
    

    height: inherit;
    float:right;
}

.info-wrap{
    
    
    margin: 60px 60px 30px ;
    
}
.info-wrap h3{
    font-family: 'Montserrat';
}
.info-wrap h4{
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.info-title{
    margin-bottom: 26px;

}

.box{
    margin-bottom: 30px;
}

.groupcont{
    display:flex;
    
    
}


.names{
    
    padding-right: 10px;
}



.names li{
    
    text-align:justify;
}


.cont-column-1, .cont-column-2, .cont-column-3{
    display: inline-block;
} 


.column-group{
    display: flex;
    justify-content: space-around;
}

/* 인포 끝 */

























/* 푸터 영역 시작 */

footer{
    width:100vw;
    height: 245px;
    background-color: #000;
    text-align: center;
}

.foot-wrap{
    margin:0 10vw;
    display: flex;
    flex-direction: column;
    
}

.footA{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    
    height: 16vh;
}

.footA .conA{
    flex-direction: column-reverse;
    color:#fff;
    font-size: 20px;
    font-family: 'Montserrat';
}

.footA .conB p{
    color:#fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
}

.footB {
    color:#fff;
    float: right;
    margin-top: 2vh;
}

.footB .conA{
    text-align: right;
}

.footB .conB{
    font-size: 12px;
    color:#4c4c4c;
    text-align: right;
    
}


/* 푸터 영역 끝 */