
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400, 500, 700, 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A;
  }

/* 공통영역 시작 */

*{ font-size: 16px; margin: 0; padding: 0; box-sizing: border-box;  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;}

a{ text-decoration: none; color:#000;}


.wrap{
    width: 100%;
    min-width: 1440px;
    min-height: 100vh;
    background-color: #000;
    position: relative;
    overflow: hidden;
}
.utill-wrap{
    width: 1440px;
    margin: 0 auto;
    z-index: 1;
}

/* utill영역 */
.utill{
    height: 50px;
    padding: 0 50px;
    color: white;
}
.utill .logo{
    display: inline-block;
    line-height: 50px;
    mix-blend-mode: difference;
}
.logo img{
    margin-top: 15px;
}
.kpu-link{
    float: right;
    line-height: 50px;
    font-weight: bold;
    font-family: 'Montserrat';
    mix-blend-mode: difference;
}


.container{
    /* min-width: 1440px;
    width: 100%; */
    width: 1440px;
    /* height: calc(100vh - 50px); */
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.title-wrap{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    
    color:#000;
}

.main-title{
    text-align: center;
}

.main-title p {
    font-size: 16px;
    font-family: 'Montserrat';
    margin-top: -10px;
}

.main-title img{
    transform: scale(0.95);
}

.enter-btn{
    width: 300px;
    padding: 15px 0px;
    border-radius: 150px;
    /* margin-top: 1.5vh; */
    background-color: #000;
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat';
    margin: 20px auto 0 auto;

}


/* 랜딩페이지 애니메이션 영역 시작 */


.landing-section1{
    width: 75%;
    /* width: 1080px; */
    min-height: 1080px;
    position: relative;
    display: inline-block;
    left: 0;
}

.square-group-wrap{
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    
}
.back-white-square{ 
    width: 1080px;
    height: 1080px;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    
    background-color: #fff;
    border-top-left-radius: 100%;


    animation-name: roundedSquare1;
    animation-duration: 2s;

}

.front-color-square-group1{
    display: inline-block;
    width: 35%;
    height: 100%;

    position: absolute;
    right: 0;
    
    transition: all 1s ease-in-out;
}
.front-yellow-square{
    background-color: #FFE61F;
    /* width: 360px;
    height: 360px; */
    width: 100%;
    height: 35%;
    border-radius: 100% 0 0 0;
    animation-name: roundedSquare1;
    animation-duration: 2s;
}
.front-red-square{
    background-color: #FF4D25;
    width: 100%;
    height: 35%;
    border-radius: 0 0 0 100% ;
    animation-name: roundedSquare2;
    animation-duration: 2s;
}
.front-green-square{
    background-color: #16B569;
    width: 100%;
    height: 35%;
    border-radius: 100% 0 0 0;
    animation-name: roundedSquare1;
    animation-duration: 2s;
}
/* --------- */
.landing-section2{
    display: inline-block;
    width: 25%;
    min-height: 1080px;
    position: absolute;
    top: 0;
    right: 0;
    /* width: 360px; */
    /* height: 100vh; */
}
.front-color-square-group2{
    display: inline-block;
    width: 378px;
    min-height: 1080px;

    position: absolute;
    
    transition: all 1s ease-in-out;
    
}

.front-white-square{
    background-color: #fff;
    width: 100%;
    height: 378px;
    border-radius: 0 0 100% 0;
    animation-name: roundedSquare4;
    animation-duration: 2s;
}

.front-purple-square{
    background-color: #A145FD;
    width: 100%;
    height: 378px;
    border-radius: 0 100% 0 0;
    animation-name: roundedSquare3;
    animation-duration: 2s;
}

.front-blue-square{
    background-color: #4CABE9;
    width: 100%;
    height:378px;
    border-radius: 0 0 100% 0;
    animation-name: roundedSquare4;
    animation-duration: 2s;
}


@keyframes roundedSquare1{
    from {
        border-radius: 0%;
    }
    to{
        border-radius:  100% 0 0 0;
    }
}

@keyframes roundedSquare2{
    from {
        border-radius: 0%;
    }
    to{
        border-radius: 0 0 0 100%;
    }
}

@keyframes roundedSquare3{
    from {
        border-radius: 0%;
    }
    to{
        border-radius: 0 100% 0 0;
    }
}

@keyframes roundedSquare4{
    from {
        border-radius: 0%;
    }
    to{
        border-radius: 0 0 100% 0;
    }
}

/* 랜딩페이지 애니메이션 영역 끝 */

/* 푸터영역 */
footer{
    min-width: 1440px;
    height: 245px;
    background-color: #000;
    display: block;

    position: relative;
    
}
.foot-wrap{
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.footA{
    display: inline-block;
    width: 50%;
    height: 100%;
    padding-left: 50px;
}
.footA .foot-logo{
    display: inline-block;
    line-height: 245px;
}

.footB {
    width: 50%;
    color:#fff;
    float: right;
    padding: 70px 50px 70px 0;
}
.footC{
    width: 100%;
}
.footC p{
    text-align: right;
    float: right;
    font-family: 'Montserrat';
    color:#fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}
.footD{
    width: 100%;
    float: right;
    margin-top: 15px;
}
.footD .foot-logo{
    text-align: right;
    font-family: 'Montserrat';
}

.footD .foot-txt{
    font-size: 12px;
    color:#4c4c4c;
    text-align: right;
}

/* 푸터 영역 끝 */


/* ------------------------------------------ */